<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
      layout:decorate="~{home/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
</head>
<body>
<div layout:fragment="main-content">
    <div class="untree_co-section product-section before-footer-section">
        <div class="container">
            <div class="row">

                <!-- Start Column 1 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" th:href="@{/cart}">
                        <img src="images/iphone-17-xanh-duong-thumb-2-600x600-removebg-preview.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">iPhone 17</h3>
                        <strong class="product-price">$50.00</strong>

                        <span class="icon-cross">
								<img src="images/cross.svg" class="img-fluid">
							</span>
                    </a>
                </div>
                <!-- End Column 1 -->

                <!-- Start Column 2 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" th:href="@{/cart}">
                        <img src="images/iphone-16-blue-600x600-removebg-preview.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">iPhone 17</h3>
                        <strong class="product-price">$50.00</strong>

                        <span class="icon-cross">
								<img src="images/cross.svg" class="img-fluid">
							</span>
                    </a>
                </div>
                <!-- End Column 2 -->

                <!-- Start Column 3 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" th:href="@{/cart}">
                        <img src="images/iphone-17-pro-max-cam-thumb-600x600-removebg-preview.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">iPhone 17 Pro Max</h3>
                        <strong class="product-price">$78.00</strong>

                        <span class="icon-cross">
								<img src="images/cross.svg" class="img-fluid">
							</span>
                    </a>
                </div>
                <!-- End Column 3 -->

                <!-- Start Column 4 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" th:href="@{/cart}">
                        <img src="images/iphone-16-pro-max-sa-mac-thumb-1-600x600-removebg-preview.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">iPhone 16 Pro Max</h3>
                        <strong class="product-price">$43.00</strong>

                        <span class="icon-cross">
								<img src="images/cross.svg" class="img-fluid">
							</span>
                    </a>
                </div>
                <!-- End Column 4 -->


                <!-- Start Column 1 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" th:href="@{/cart}">
                        <img src="images/iphone-15-xanh-thumb-600x600-removebg-preview.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">iPhone 15</h3>
                        <strong class="product-price">$50.00</strong>

                        <span class="icon-cross">
								<img src="images/cross.svg" class="img-fluid">
							</span>
                    </a>
                </div>
                <!-- End Column 1 -->

                <!-- Start Column 2 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" th:href="@{/cart}">
                        <img src="images/iphone-13-midnight-2-600x600-removebg-preview.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">iPhone 13</h3>
                        <strong class="product-price">$50.00</strong>

                        <span class="icon-cross">
								<img src="images/cross.svg" class="img-fluid">
							</span>
                    </a>
                </div>
                <!-- End Column 2 -->

                <!-- Start Column 3 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" th:href="@{/cart}">
                        <img src="images/iphone-15-plus-vang-126gb-thumb-600x600-removebg-preview.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">iPhone 15 Plus</h3>
                        <strong class="product-price">$78.00</strong>

                        <span class="icon-cross">
								<img src="images/cross.svg" class="img-fluid">
							</span>
                    </a>
                </div>
                <!-- End Column 3 -->

                <!-- Start Column 4 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" th:href="@{/cart}">
                        <img src="images/iPhone-14-plus-thumb-xanh-600x600-removebg-preview.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">iPhone 14 Plus</h3>
                        <strong class="product-price">$43.00</strong>

                        <span class="icon-cross">
								<img src="images/cross.svg" class="img-fluid">
							</span>
                    </a>
                </div>
                <!-- End Column 4 -->

            </div>
        </div>
    </div>

</div>
</body>
</html>