<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net/thymeleaf/layout"
      layout:decorate="~{home/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div layout:fragment="main-content">
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Modern Tech <span clsas="d-block">& Design</span></h1>
                        <p class="mb-4">Khám phá sự kết hợp hoàn hảo giữa công nghệ tiên tiến và thiết kế tinh xảo. Trải nghiệm sức mạnh, hiệu suất vượt trội cùng vẻ ngoài đẳng cấp.</p>
                        <p><a th:href="@{/categories}" class="btn btn-secondary me-2">Shop Now</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="images/vi-vn-iphone-16-pro-max-6.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <!-- Start Category List -->
    <div class="container mt-4">
        <div class="row mb-5 justify-content-center">
            <hr class="my-4">
            <div class="col-12 text-center mb-4 mt-4">
                <h3 class="fw-bold">Browse by Category</h3>
            </div>
            <hr class="my-4">

            <div class="col-6 col-md-4 col-lg-3 mb-4" th:each="cate : ${cateList}">
                <a th:href="@{/shop-list(cateid=${cate.id})}" class="text-decoration-none">

                    <div class="card h-100 border shadow-sm text-center py-3 cate-card"
                         th:classappend="${currentId == cate.id} ? 'border-primary bg-light' : ''">

                        <img th:if="${cate.image != null}"
                             th:src="${cate.image}"
                             class="mx-auto d-block mb-2"
                             style="width: 180px; height: 180px; object-fit: contain;" alt="Cate Img"/>

                        <i th:if="${cate.image == null}" class="fas fa-mobile-alt fa-3x mb-3 text-secondary"></i>

                        <div class="card-body p-0">
                            <h6 class="card-title text-dark fw-bold" th:text="${cate.name}"></h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- End Category List  -->

    <!-- Start Popular Product -->
    <div class="container mt-5">

        <div class="d-flex justify-content-between align-items-center mb-3 bg-light p-3 rounded shadow-sm" style="border-left: 5px solid #000000;">
            <h4 class="mb-0 fw-bold text-uppercase">Recommend for you</h4>
            <a th:href="@{/shop-list}" class="text-decoration-none">View all<i class="fas fa-angle-right"></i></a>
        </div>

        <div class="owl-carousel owl-theme">

            <div class="item" th:each="product : ${productList}">
                <div class="card h-100 border-0 shadow-sm rounded-3">

                    <a th:href="@{/product-detail(id=${product.id})}">
                        <img th:src="${product.image}" class="card-img-top p-3"
                             style="height: 220px; object-fit: contain;" alt="Product Image">
                    </a>

                    <div class="card-body border-top text-center">
                        <h6 class="card-title fw-bold text-truncate">
                            <a th:href="@{/product-detail(id=${product.id})}" class="text-decoration-none text-dark" th:text="${product.title}">
                                iPhone 15 Pro Max
                            </a>
                        </h6>

                        <p class="text-danger fw-bold mb-3" style="font-size: 1.2rem;"
                           th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' đ'">

                        </p>

                        <a th:href="@{/product-detail(id=${product.id})}" class="btn btn-drak w-100 rounded-pill">
                            <i class="fas fa-shopping-cart me-1"></i> View detail
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Popular Product -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            loop: false,          // false: Để không bị lặp vô tận (kéo hết là dừng)
            margin: 15,           // Khoảng cách giữa các sản phẩm
            nav: true,            // Bật nút mũi tên
            dots: false,          // Tắt dấu chấm tròn bên dưới
            autoplay: true,       // Tự động chạy
            autoplayTimeout: 4000,// 4 giây chạy 1 lần
            autoplayHoverPause: true, // Di chuột vào thì dừng chạy
            navText: [
                '<i class="fas fa-chevron-left fa-lg text-primary"></i>',
                '<i class="fas fa-chevron-right fa-lg text-primary"></i>'
            ],
            responsive: {
                0: { items: 2 },      // Điện thoại: Hiện 2 sp
                600: { items: 3 },    // Tablet: Hiện 3 sp
                1000: { items: 5 }    // Máy tính: Hiện 5 sp (giống Shopee)
            }
        });
    });
    </script>
    <!-- End Blog Section -->
</div>
</body>
</html>