<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i> <span th:text="${error}"></span>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <hr>
        <h2> Edit BRAND</h2>
        <hr>
        <form th:action="@{/admin/brand/save}" th:object="${brand}" method="POST" enctype="multipart/form-data">

            <input type="hidden" th:field="*{id}" value="1">

            <div class="mb-3">
                <label for="brandName" class="form-label">Name</label>
                <input
                        type="text"
                        class="form-control"
                        id="brandName"
                        th:field="*{name}"
                        maxlength="255"
                        required>
            </div>

            <div class="mb-3">
                <label for="brandImage" class="form-label">Image</label>
                <input
                        type="text"
                        class="form-control"
                        id="brandImage"
                        th:field="*{image}"
                        maxlength="255">
            </div>

            <div class="mb-3">
                <label for="brandStatus" class="form-label">Status</label>
                <select
                        class="form-control"
                        id="brandStatus"
                        th:field="*{status}"
                        required>
                    <option value="1" selected>On</option>
                    <option value="0">Off</option>
                </select>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary me-md-2">
                    Save
                </button>
                <a th:href="@{/admin/brand/brand-list}" class="btn btn-danger">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>