<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <title>Category</title>
</head>
<body>
<div layout:fragment="content">
   <div class="container">
       <div class="row">
           <a th:href="@{/admin/category/Category-insert-form}"><i class="btn btn-primary">Insert</i></a>
       </div>
       <div class="row">
           <table class="table">
               <thead>
               <tr class="align-middle text-center">
                   <th scope="col">ID</th>
                   <th scope="col">NAME</th>
                   <th scope="col">IMAGE</th>
                   <th scope="col">STATUS</th>
                   <th scope="col">OPERATION</th>
               </tr>
               </thead>
               <tbody>
               <tr class="align-middle text-center" th:each="category : ${categories}">
                   <th scope="row" th:text="${category.id}"></th>
                   <td th:text="${category.name}"></td>
                   <td style="width: 150px;"> <img th:src="${category.image}" alt="Category Image" style="max-width: 100px; height: auto;">
                   </td>
                   <td th:text="${category.status} ? 'On' : 'Off'" th:class="${category.status} ? 'text-success' : 'text-danger'"></td>
                   <td>
                       <a href="" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a>
                       <a th:href="@{/admin/category/Category-edit-form(id=${category.id})}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                       <a th:href="@{/admin/category/delete(id=${category.id})}" class="btn btn-danger"><i class="fa-solid fa-delete-left"></i></a>
                   </td>
               </tr>
               </tbody>
           </table>
       </div>
   </div>
</div>
</body>
</html>